<nav class="navbar navbar-expand-lg shadow-sm mb-3">
    <div class="container-fluid">
        <fd-shellbar>
            <fd-shellbar-logo>
                <a href="#" class="fd-shellbar__logo fd-shellbar__logo--image-replaced" aria-label="SAP"></a>
                <span class="ms-4">Activity Request Details</span>
            </fd-shellbar-logo>        
        </fd-shellbar>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          
       
        </ul>
      
      </div>
    </div>
  </nav>



<!-- <fd-shellbar>
    <fd-shellbar-logo>
        <a href="#" class="fd-shellbar__logo fd-shellbar__logo--image-replaced" aria-label="SAP"></a>
    </fd-shellbar-logo>

    <fd-shellbar-title>  Request Activity Details </fd-shellbar-title>

</fd-shellbar> -->